## ici on met toutes les variables sensible

EMAIL_HOST_USER = 'email
EMAIL_HOST_PASSWORD = "password app

FRONTEND_URL= http://localhost:3000

NAME = DB_NAME
USER = DB_USER
PASSWORD= DB_PASSWORD
HOST = DB_HOST
PORT = DB_PORT
DEBUG = True
ALLOWED_HOSTS = ['*']
