EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'fatoufall194@gmail.com'
EMAIL_HOST_PASSWORD = "vuxu fqvz tmgl mjrd" # sans ceci le mailing ne marchera pas!!!

SECRET_KEY = "django-insecure-r27j=if+qc2wyb#3!i^*eo2i6ik(k!8hlmn^alksvfi)$_xr)p"
DEBUG = True
ALLOWED_HOSTS = ['*']
